body{
    background-color: #85E3FF;
}
header{
    background-color: #002085;
}

section {
    max-width: 500em;
    height: 1.5em;
    display: flex;
    font-family: sans-serif;
    margin-top: 5em;

    text-align: center;
    flex-direction: column;

}

main {
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}



#boton {
    width: 100px;
    background-color: black;
    color: white;
    border: 0;
}